name: Run Tests
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Set up Python 3.10.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.10.9
    - name: Install dependencies
      run: |
        make install
    - name: Isort
      run: |
        make isort
#    - name: Black
#      run: |
#        make black
    - name: Flask8
      run: |
        make flask8
#    - name: Mypy
#      run: |
#        make mypy
    - name: Test
      run: |
        make test